<footer>
    <div class="info">
        <div class="block">
            <p>CONTACT INFO</p>
            <div class="data">
                <div class="row">
                    <mat-icon>location_on</mat-icon>
                    <p>71 Pennington Lane Vernon Rockville, CT 06066.</p>
                </div>
                <div class="row">
                    <mat-icon>phone</mat-icon>
                    <p>0613 848 676 <br> 0708 966 697</p>
                </div>
                <div class="row">
                    <mat-icon>mail</mat-icon>
                    <p>contact@h2smorocco.ma</p>
                </div>
            </div>
        </div>

        <div class="block">
            <p>CATEGORIES</p>
            <div class="data">
                <div class="categories">
                    
                    <div class="link"><a href="#">Sécurité au travail</a></div>
                    <div class="link"><a href="#">Protection AUDITIVE</a></div>
                    <div class="link"><a href="#">Protection RESPIRATOIRE</a></div>
                    <div class="link"><a href="#">Protection MAINS</a></div>
                    <div class="link"><a href="#">Protection VISUELLE</a></div>
                    <div class="link"><a href="#">Protection CRANE</a></div>
                    <div class="link"><a href="#">Protection Pied</a></div>
                    <div class="link"><a href="#">Vêtement de travail</a></div>
                    <div class="link"><a href="#">Produit de Nettoyage</a></div>
                    <div class="link"><a href="#">Solutions anti-nuisibles</a></div>
                    <div class="link"><a href="#">Equipements d'hygiène</a></div>
                    <div class="link"><a href="#">Ustensile de Nettoyage</a></div>
                    
                </div>
            </div>
        </div>

        <div class="block">
            <p>NEWSLETTER</p>
            <div class="input">
                <mat-form-field style="width: 100%;" class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com">
                </mat-form-field>
            </div>
            <a href="#">Envoyer <mat-icon>send</mat-icon></a>
            <div class="logo">
                <img src="./assets/H2S Logo.png" alt="H2S Logo">
            </div>
        </div>
    </div>
    <div class="copyright">
        © 2023 - Copyright reserved to H2S
    </div>
</footer>