<div class="container">
    <div class="banner" style="background-image: url('assets/about us/bg_about.jpg');">
        <div class="overlay"></div>
        <h2>A propos de nous</h2>
    </div>
    <div class="sections">
        <section>
            <div class="text">
                <h3>Notre histoire</h3>
                <p>Depuis le début d'activité à ce jour, notre compagnie a pu avoir la confiance et la satisfaction des grandes sociétés industrielles marocaines et multinationales et devient un partenaire d'hygiène et protection de référence.</p>
            </div>
            <div class="img">
                <img src="assets/about us/aboutus-right.png">
            </div>
        </section>
        <section>
            <div class="img">
                <img src="assets/about us/aboutus-left.png">
            </div>
            <div class="text">
                <h3>Notre mission</h3>
                <p>Depuis le début d'activité à ce jour, notre compagnie a pu avoir la confiance et la satisfaction des grandes sociétés industrielles marocaines et multinationales et devient un partenaire d'hygiène et protection de référence.</p>
            </div>
        </section>
        <div class="cards_holder">
            <div class="cards">
                <div class="card">
                    <div class="bg"></div>
                    <div class="cercle">
                        <div class="icon">
                            <img src="assets/about us/training.png">
                        </div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, fuga possimus dolores temporibus.
                    </div>
                </div>
                <div class="card">
                    <div class="bg"></div>
                    <div class="cercle">
                        <div class="icon">
                            <img src="assets/about us/product.png">
                        </div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, fuga possimus dolores temporibus.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, fuga possimus dolores temporibus.
                    </div>
                </div>
                <div class="card">
                    <div class="bg"></div>
                    <div class="cercle">    
                        <div class="icon">
                            <img src="assets/about us/disinfection.png">
                        </div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, fuga possimus dolores temporibus.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>