<div class="banner">
    <div class="bg"></div>
    <h1>Services & Formation</h1>
</div>

<div class="container">
    <div class="wrapper">
        <p class="intro-parag">
            Renforcez votre entreprise avec nos services complets d'hygiène et de sécurité. Notre équipe d'experts est prête à vous aider à mettre en place des protocoles de nettoyage efficaces et des mesures de sécurité pour protéger votre personnel et vos visiteurs. Que vous ayez besoin de services de désinfection professionnels ou de conseils d'experts en matière de sécurité au travail, nous sommes là pour vous accompagner à chaque étape.
        </p>
        <h1>Disinfection</h1>
        <div class="service">
            <div class="img">
                <img src="assets/galery/disinfection se 1.png">
            </div>
            
            <p>
                Notre service de désinfection est conçu pour vous offrir un environnement sûr et sain. Grâce à l'utilisation de technologies de pointe et de produits approuvés, nous éliminons efficacement les germes, les virus et les bactéries présents dans votre espace de travail. Notre équipe de professionnels hautement qualifiés suit des protocoles rigoureux pour assurer une désinfection complète des surfaces, des équipements et des zones sensibles. Que ce soit pour les bureaux, les établissements de santé, les commerces ou tout autre lieu, notre service de désinfection garantit une protection accrue pour vos employés et vos clients.
                <br><br>
                Nous accordons une grande importance à la sécurité de nos clients et de notre personnel, c'est pourquoi nous utilisons des produits respectueux de l'environnement et conformes aux normes sanitaires. Nous adaptons nos services en fonction de vos besoins spécifiques et de la taille de votre espace. Après chaque intervention, nous fournissons des rapports détaillés et des recommandations pour maintenir une hygiène optimale. Avec notre service de désinfection, vous pouvez avoir l'esprit tranquille en sachant que vous avez pris toutes les mesures nécessaires pour préserver la santé de tous.
            </p>
        </div>

        <h1>Formation & consulting</h1>
        <div class="service">
            <div class="img">
                <img src="assets/galery/services banner.png">
            </div>
            
            <p>
                Notre service de formation et de conseil vise à renforcer vos compétences en matière d'hygiène et de sécurité au travail. Nous croyons que la prévention est essentielle pour garantir un environnement de travail sain et sécurisé. Nos experts qualifiés vous fourniront des formations personnalisées adaptées à vos besoins spécifiques et à votre secteur d'activité. De la manipulation sécuritaire des produits chimiques à l'adoption de bonnes pratiques d'hygiène, nos sessions de formation vous permettront de sensibiliser votre personnel et de réduire les risques d'infection et d'accidents.
                <br><br>
                En plus de la formation, notre équipe de consultants expérimentés est disponible pour évaluer vos installations et vous proposer des recommandations stratégiques. Nous travaillons en étroite collaboration avec vous pour développer des plans d'action efficaces qui répondent aux normes réglementaires et aux meilleures pratiques de l'industrie. Que vous soyez une entreprise, une institution de santé ou une organisation gouvernementale, notre service de formation et de conseil vous permettra de créer un environnement de travail sûr et conforme aux exigences en matière de santé publique. Ensemble, nous construisons un avenir plus sûr et plus sain pour votre entreprise et vos collaborateurs.
            </p>
        </div>
    </div>
</div>
