<div class="container">
    <div class="wrapper">
        <div class="info">
            <div class="text">
                <h2>Contactez-nous</h2>
                <p>Notre équipe dévouée est là pour vous offrir une assistance personnalisée et des solutions adaptées à vos besoins.</p>
            </div>
            <div class="inputs">
                <div class="name">
                    <mat-form-field appearance="outline">
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder="Nom">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Prenom</mat-label>
                        <input matInput placeholder="Prenom">
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Numéro de telephone</mat-label>
                    <input matInput placeholder="Téléphone">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Sujet</mat-label>
                    <input matInput placeholder="sujet">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Message</mat-label>
                    <textarea matInput placeholder="Message"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary">
                    <mat-icon>send</mat-icon>
                    Envoyer
                </button>
            </div>
        </div>
        <div class="map-div">
            <div id="map"></div>
            <div class="phone">
                <div class="block">
                    <img src="assets/galery/whatsapp.png">
                    <span>0613 848 676</span>
                </div>
                <div class="block">
                    <img src="assets/galery/phone.png">
                    <span>0708 966 697</span>
                </div>
            </div>
        </div>
        
    </div>
</div>