<div class="products-body">
    <div class="indicator">
        HOME/PRODUCTS
    </div>
    <div class="wrapper">
        <div class="filter">
            <div class="block" style="padding: 10px 20px;">
                <h3>Filtre</h3>
            </div>
            <div class="block">
                <p>Trier</p>
                <mat-radio-group [(ngModel)]="catgorieSelected">
                    <mat-radio-button>
                        Name
                    </mat-radio-button>
                    <mat-radio-button>
                        Price
                    </mat-radio-button>
                    <mat-radio-button>
                        Date
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="block">
                <p>Categories</p>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Select an option</mat-label>
                    <mat-select value="volvo">
                      <mat-option value="volvo">volvo</mat-option>
                      <mat-option value="BMW">BMW</mat-option>
                      <mat-option value="Renaut">Renaut</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="block">
                <p>best-sellers</p>
                <div class="small-prod-card" *ngFor="let prod of listeBestSellers">
                    <img [src]="prod.image">
                    <div class="content">
                        <div class="title"> {{prod.name}} </div>
                        <div class="price">{{prod.price}} MAD</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="banner">
                <div class="bg_trans"></div>
                <div class="text">
                    <h1>Nos Produits</h1>
                    <p>découvrez nos produits variés et de haute qualité</p>
                </div>
            </div>
            <form class="search">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
                <div class="icon">
                    <mat-icon>search</mat-icon>
                </div>
            </form>
            <div class="prods">
                <app-product-card class="prod" *ngFor="let produit of listeProduits" [title]="produit.name" [image]="produit.image"></app-product-card>
            </div>
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
        </div>
    </div>
</div>